%section.pam
  %h1 Header commun

  %h2 Comment intéger le header commun dans mon site ?

  %p Si tu n'utilises pas déjà jQuery, importe-le:


  %pre
    %code.javascript            
      #{'<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="  crossorigin="anonymous"></script>'}

  %p Il suffit de copier le code si dessous dans la page:

  %pre
    %code.javascript            
      #{'<script type="text/javascript">$(document).ready(function(){$("#common_header").load("http://localhost:3000/static_pages/common_header");})</script>'}
  %p Puis d'ajouter un div avec l'id common_header là où on souhaite avoir le de header
  %pre
    %code.html          
      #{'<div id="common_header"><div>'}

  %p Et voilà ! Tu peux voir un exemple sur la  #{link_to "page de test", "test_page.html"}

  %h2 Comment recupérer uniquement la liste des sites ?
  %p Avec l'API ! Il te suffit d'aller sur 

  %pre
    %code.html          
      #{Configurable[:site_url] + 'sites.json'}
